<h1 align="center">Title: <%= @article.title %></h1>
  
<div class="well well-sm col-xs-8 col-xs-offset-2">
  <h4 class="center description"><strong>Description:</strong></h4>
  <hr>
  <%= simple_format(@article.description) %><br>
<div>
<div>
  <%= link_to "Edit", edit_article_path(@article), class: "btn btn-info alpha-blog-btn" %>
  <%= link_to 'Delete', article_path(@article), class: "btn btn-info btn-danger", 
                                                method: :delete, 
                                                data: {confirm: "Are you sure?"} %>
  <%= link_to "Cancel", articles_path, class: "btn btn-info btn-default" %>
</div>